* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	background-color: #606060ff;
	color: #d6ed17ff;
	display: flex;
	flex-flow: column;
}
/* Header */
.title {
	padding: 20px 0;
	font-size: 50px;
	text-align: center;
}
/* Main content */
.container {
	display: flex;
	justify-content: center;
	gap: 100px;
}
.sideBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 250px;
}
.containerGrid {
	display: grid;
	width: 500px;
	height: 500px;
	grid-template-columns: repeat(16, 1fr);
	border: 1px solid rgb(173, 167, 167);
	background-color: white;
}

.square {
	background-color: white;
	opacity: 1;
}
button {
	border: 1px solid #d6ed17ff;
	border-radius: 5px;
	color: inherit;
	padding: 10px;
	width: inherit;
	background-color: transparent;
}
button.active {
	background-color: black;
	color: #d6ed17ff;
	border-color: black;
}
button:hover {
	transition: transform 0.1s ease-in-out;
	transform: scale(1.1);
}
/* Color input style */
.colorPicker {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100px;
	height: 100px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.colorPicker::-webkit-color-swatch {
	border-radius: 15px;
	border: none;
}
.colorPicker::-moz-color-swatch {
	border-radius: 15px;
	border: none;
}
/*footer*/
.footer p {
	text-align: center;
	padding: 30px;
}
.gridSlider {
	width: inherit;
	border-radius: 20px;
}

input[type="range"] {
	display: block;
	-webkit-appearance: none;
	background-color: #bdc3c7;
	width: inherit;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
	outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #d6ed17ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
​ input[type="range"]::-webkit-slider-thumb:hover {
	background-color: white;
	border: 2px solid #d6ed17ff;
}
input[type="range"]::-webkit-slider-thumb:active {
	transform: scale(1.6);
}

.divDescription {
	border-bottom: 4px dashed #bdc3c7;
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	width: inherit;
	line-height: 60px;
	letter-spacing: -0.07em;
	text-shadow: rgb(24, 21, 21) 2px 2px 2px;
}
